/* BACKGROUND COLORS */

:root {
    --bg-color-body: hsla(205, 44%, 93%, 1);
    --bg-white: hsla(0, 0%, 100%, 1);
    --bg-button: hsla(71, 73%, 54%, 1);
    --bg-primary: hsla(179, 62%, 43%, 1);
    --bg-primary-accent: hsla(179, 62%, 43%, 0.15185546875)

}