/* PADDING */
:root{
    /* padding m: 24px → 40px */
    --padding-m: clamp(1.50rem, calc(1.15rem + 1.50vw), 2.50rem);
    --padding-m-accent: 2rem;
}

/* MARGIN */
:root {
    /* margin xxs: 4px */
    --margin-xxs: 0.25rem;
    /* margin xs: 16px → 11px */
    --margin-xs: clamp(0.69rem, calc(1.11rem + -0.47vw), 1.00rem);
    /* margin s: 18px */
    --margin-s: 1.125rem;
    /* margin m: 24px */
    --margin-m: 1.5rem;
    /* margin l: 26px */
    --margin-l: 1.625rem;
    /* margin-step-1 */
    --margin-step-1: 0.6875rem;
}