.c_primary-button {
    display: inline-block;
    width: 100%;
    /* Background-color */
    background-color: var(--bg-button);
    /* Border */
    border-radius: var(--btn-border-radius);
    box-shadow: var(--btn-box-shadow);
    border: none;
    /* Font Styles */
    color: var(--color-white);
    font-size: var(--font-size-step-5);
    font-weight: var(--weight-bold);
    line-height: normal;
    letter-spacing: var(--letter-space-step-5);
    /*  Whitespace */
    padding-top: var(--btn-padding-top);
    padding-bottom: var(--btn-padding-bottom);
}