.c_section-join {
    /* Whitespace */
    padding:var(--padding-m);
    padding-bottom: var(--padding-m-accent);
    /* Background-color */
    background-color: var(--bg-white);
    /* Flexbox */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: var(--flexbox-items-step-2);
}

.c_section-join h1 {
    /* Font Styles */
    color: var(--color-primary-main);
    font-size: var(--font-size-step-2);
    font-weight: var(--weight-bold);
    line-height: var(--line-height-normal);
    line-height: normal;
    letter-spacing: var(--letter-space-step-0);
    /* Whitespace */
    margin-bottom: var(--margin-m);
}

.c_section-join h1 + p {
    /* Font Styles */
    color: var(--color-primary-accent);
    font-size: var(--font-size-step-1);
    font-weight: var(--weight-bold);
    line-height: var(--line-height-step-0);
    letter-spacing: var(--letter-space-step-2); 
    /* Whitespace */
    margin-bottom: var(--margin-xs);
}

.c_section-join p {
    /* Font Styles */
    color: var(--color-neutral-accent);
    font-size: var(--font-size-step-0);
    font-weight: var(--weight-normal);
    line-height: var(--line-height-step-1);
    letter-spacing: var(--letter-space-step-3);
}